<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment :: page_head(${pageTitle}, 'none')}">
    <title></title>
</head>
<body>
<div id="app">
    <div th:replace="~{sidebar :: sidebar}"></div>

    <div id="main">
        <div th:replace="~{header :: header}"></div>

        <div class="main-content container-fluid">
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">[[${pageTitle}]]</h2>
                    </div>

                    <form method="post"
                          style="max-width: 1000px; margin: 0 auto" th:action="@{/customers/set_password}">
                        <div class="card-body">
                            <div>
                                <p>Setup your account password or skip this step and <a th:href="@{/static}">continue shopping</a></p>
                            </div>
                            <!--Password-->
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="password">Password:</label>
                                <div class="col-sm-8">
                                    <input type="password" maxlength="64" minlength="8" required class="form-control"
                                           placeholder="Enter your new password"  name="password" id="password" autofocus/>
                                </div>
                            </div>
                            <!--Confirm Password-->
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="confirmPassword">Confirm Password:</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" maxlength="64" minlength="8" required
                                           placeholder="Confirm password" id="confirmPassword"/>
                                </div>
                            </div>

                            <div class="text-center">
                                <input class="btn btn-primary m-3" type="submit" value="Change password"/>
                            </div>
                        </div>
                    </form>

                    <div th:replace="~{modal_dialog :: warning_modal}"></div>
                </div>
            </section>
        </div>

        <div th:fragment="~{sidebar :: footer}"></div>
    </div>
</div>

<script th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/feather-icons/feather.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/load_states_form.js}"></script>
<script type="text/javascript">
    moduleUrl = "[[@{/customers}]]";
    contextPath = "[[@{/}]]";

    $(document).ready(function() {
        $("#confirmPassword").change(function () {
            checkPassword();
        });
    })

    function checkPassword() {
        let password = $("#password").val();
        let confirmPassword = $("#confirmPassword").val();
        if(password != confirmPassword) {
            $("#confirmPassword").get(0).setCustomValidity("Password do not match!!");
            $("#confirmPassword").get(0).reportValidity();
        } else {
            $("#confirmPassword").get(0).setCustomValidity("");
        }
    }
</script>
</body>
</html>