<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Error 404 - Admin Homepage', 'none')}">
    <title></title>
</head>
<body>
<div id="error">
    <div class="container text-center pt-32">
        <h1 class='error-title'>404</h1>
        <p>Sorry. The requested page could not be found</p>
        <a th:href="@{/}" class='btn btn-primary'>Go Home</a>
    </div>

    <div class="footer pt-32">
        <p class="text-center">Copyright &copy; My eCommerce 2023</p>
    </div>
</div>
</body>
</html>