<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title, removeTag)" th:remove="${removeTag}">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0" name="viewport">

    <title>[[${title}]] - [[${SITE_NAME}]]</title>

    <link rel="icon" th:href="@{/img/favicon.png}" type="image/x-icon"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" type="text/css"/>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/icon.css}">

    <link rel="stylesheet" th:href="@{/vendor/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/flaticon/flaticon.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/flags.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/slick.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/modal-video.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/nouislider.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<div th:fragment="format_currency(amount)" th:remove="tag">
    <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(amount,
    1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span
        th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
</div>

<div th:fragment="format_time(dateTime)" th:remove="tag">
    <span th:text="${#dates.format(dateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
</div>

<div th:fragment="currency_input(amount)" th:remove="tag">
    <input class="form-control" readonly
           th:value="${(CURRENCY_SYMBOL_POSITION == 'Before price' ? CURRENCY_SYMBOL : '') + #numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE) + (CURRENCY_SYMBOL_POSITION == 'After price' ? CURRENCY_SYMBOL : '')}"
           type="text">
</div>

<th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
    <a class="text-white"
       th:href="@{${moduleUrl} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName}  +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">
        [[${columnLabel}]]
    </a>
    <span th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}"
          th:if="${sortField == fieldName}"></span>
</th>

<a th:fragment="page_link(moduleUrl, fpageNumber, label)" class="page-link"
   th:href="@{${moduleUrl} + '/page/' + ${fpageNumber} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
    [[${label}]]
</a>

<div th:fragment="pagination(moduleUrl, entityName)" th:remove="tag">
    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>
    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No [[${entityName}]] found</span>
    </div>

    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination justify-content-center flex-wrap">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragment :: page_link(${moduleUrl}, 1, 'First')}"></a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragment :: page_link(${moduleUrl}, ${currentPage - 1}, 'Previous')}"></a>
                </li>

                <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
                    th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:replace="~{fragment :: page_link(${moduleUrl}, ${i}, ${i})}"></a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragment :: page_link(${moduleUrl}, ${currentPage + 1}, 'Next')}"></a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragment :: page_link(${moduleUrl}, ${totalPages}, 'Last')}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>