<div class="header header-inner" th:fragment="top_header2">
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-7 col-lg-7">
                    <ul class="top-header-link d-lg-flex d-none">
                        <li>
                            <a th:href="@{/static}">HOME</a>
                        </li>

                        <li>
                            <a href="#">SHOP EVENTS & SAVE UP TO 65% OFF!</a>
                        </li>

                        <li>
                            <a href="#">Call Us: 001-1234-88888</a>
                        </li>
                    </ul>
                </div>

                <div class="col-xxl-6 col-xl-5 col-lg-5">
                    <ul class="top-header-link justify-content-lg-end justify-content-center">
                        <li>
                            <label for="currency"></label>
                            <select class="select" id="currency" name="currency">
                                <option value="USD">Dollar (USD)</option>
                                <option value="BDT">Vietnamese Dong (VND)</option>
                            </select>
                        </li>

                        <li>
                            <div class="select-language">
                                <div class="language">
                                    <div class="select-lang">
                                        <div data-input-name="country" data-scrollable-height="250px"
                                             data-selected-country="UK"
                                             id="aw"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>