<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Brands - Admin Homepage', 'none')}">
    <title></title>
</head>
<body>
<div id="app">
    <div th:replace="~{sidebar :: sidebar}"></div>

    <div id="main">
        <div th:replace="~{header :: header}"></div>

        <div class="main-content container-fluid">
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Manage Brands</h2>

                        <div th:replace="~{fragments :: create_new_and_export('brands')}"></div>
                    </div>

                    <div class="card-body">
                        <div th:replace="~{fragments :: search_form_and_message}"></div>

                        <div class="full-details">
                            <div class="table-responsive">
                                <table class="table table-borderless table-striped table-hover">
                                    <thead class="table-dark">
                                    <tr>
                                        <th class="hideable-column" th:insert="~{fragments :: column_link('id', 'ID', 'tag')}"></th>
                                        <th>Logo</th>
                                        <th th:replace="~{fragments :: column_link('name', 'Name', 'none')}"></th>
                                        <th>Categories</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="brand : ${listBrands}">
                                        <td class="hideable-column">[[${brand.id}]]</td>
                                        <td>
                                            <img alt="Image Preview" class="img-fluid" src="" style="width: 100px"
                                                 th:src="@{${brand.logoPath}}"/>
                                        </td>
                                        <td>[[${brand.name}]]</td>
                                        <td>
                                            <th:block th:each="category : ${brand.categories}">
                                                <span class="badge text-bg-secondary" th:text="${category.name}"></span>
                                            </th:block>
                                        </td>
                                        <td>
                                            <div th:replace="~{fragments :: edit('brand', '/brands/edit/' + ${brand.id})}"></div>
                                            &nbsp;
                                            <div th:replace="~{fragments :: delete('brand', ${brand.id}, '/brands/delete/' + ${brand.id}, true)}"></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="less-details">
                            <div class="row m-1" th:each="brand : ${listBrands}">
                                <div class="col-6">
                                    <img alt="Image Preview" class="img-fluid" src="" style="width: 100px"
                                         th:src="@{${brand.logoPath}}"/>
                                </div>
                                <div class="col-6">
                                    <div><b>[[${brand.name}]]</b></div>
                                    <div class="mt-2">
                                        <div th:replace="~{fragments :: edit('brand', '/brands/edit/' + ${brand.id})}"></div>
                                        &nbsp;
                                        <div th:replace="~{fragments :: delete('brand', ${brand.id}, '/brands/delete/' + ${brand.id}, true)}"></div>
                                    </div>
                                </div>
                                <div>&nbsp;</div>
                            </div>
                        </div>

                        <div th:replace="~{fragments :: pagination('brands')}"></div>

                        <div th:replace="~{modal_fragments :: delete_modal}"></div>
                    </div>
                </div>
            </section>
        </div>
        <div th:replace="~{footer :: footer}"></div>
    </div>
</div>

<script th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/feather-icons/feather.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleUrl = "[[@{/brands}]]";
    entityName = "brand";
</script>
</body>
</html>