<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Customers - Admin Homepage', 'none')}">
    <title></title>
</head>
<body>
<div id="app">
    <div th:replace="~{sidebar :: sidebar}"></div>

    <div id="main">
        <div th:replace="~{header :: header}"></div>

        <div class="main-content container-fluid">
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Manage Customers</h2>

                        <a th:href="@{/customers/export/csv}" class="fa-solid fa-file-csv fa-2x me-2 text-secondary" title="Export to CSV"></a>
                        <a th:href="@{/customers/export/excel}" class="fa-solid fa-file-excel fa-2x me-2 text-success" title="Export to Excel"></a>
                        <a th:href="@{/customers/export/pdf}" class="fa-solid fa-file-pdf fa-2x text-danger" title="Export to PDF"></a>
                    </div>

                    <div class="card-body">
                        <div th:replace="~{fragments :: search_form_and_message}"></div>

                        <div class="full-details">
                            <div class="table-responsive">
                                <table class="table table-borderless table-striped table-hover">
                                    <thead class="table-dark">
                                    <tr>
                                        <th th:replace="~{fragments :: column_link('id', 'ID', 'none')}"></th>
                                        <th th:replace="~{fragments :: column_link('firstName', 'First Name', 'none')}"></th>
                                        <th th:replace="~{fragments :: column_link('lastName', 'Last Name', 'none')}"></th>
                                        <th class="hideable-column" th:insert="~{fragments :: column_link('email', 'Email', 'tag')}"></th>
                                        <th class="hideable-column" th:insert="~{fragments :: column_link('city', 'City', 'tag')}">
                                        <th class="hideable-column" th:insert="~{fragments :: column_link('state', 'State', 'tag')}">
                                        <th th:replace="~{fragments :: column_link('country', 'Country', 'none')}"></th>
                                        <th th:replace="~{fragments :: column_link('enabled', 'Enabled', 'none')}"></th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="customer : ${listCustomers}">
                                        <td>[[${customer.id}]]</td>
                                        <td>[[${customer.firstName}]]</td>
                                        <td>[[${customer.lastName}]]</td>
                                        <td class="hideable-column">[[${customer.email}]]</td>
                                        <td class="hideable-column">[[${customer.city}]]</td>
                                        <td class="hideable-column">[[${customer.state}]]</td>
                                        <td>[[${customer.country.name}]]</td>
                                        <td>
                                            <div th:replace="~{fragments :: status(${customer.enabled}, 'customer', '/customers/' + ${customer.id})}"></div>
                                        </td>
                                        <td>
                                            <a class="fa-solid fa-file-alt fa-2x link-detail text-secondary" th:href="@{'/customers/detail/' + ${customer.id}}" title="View details of this customer"></a>
                                            &nbsp;
                                            <div th:replace="~{fragments :: edit('customer', '/customers/edit/' + ${customer.id})}"></div>
                                            &nbsp;
                                            <div th:replace="~{fragments :: delete('customer', ${customer.id}, '/customers/delete/' + ${customer.id}, true)}"></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="less-details">
                            <div th:each="customer : ${listCustomers}" class="row m-1">
                                <div class="col-4">
                                    <span><b>[[${customer.fullName}]]</b></span>
                                </div>
                                <div class="col-8">
                                    <div class="mb-1">
                                        <span>[[${customer.country.name}]]</span>
                                    </div>
                                    <div>
                                        <div th:replace="~{fragments :: status(${customer.enabled}, 'customer', '/customers/' + ${customer.id})}"></div>
                                        &nbsp;
                                        <a class="fas fa-file-alt fa-2x icon-green link-detail"
                                           th:href="@{'/customers/detail/' + ${customer.id}}"
                                           title="View details of this customer"
                                        ></a>
                                        &nbsp;
                                        <div th:replace="~{fragments :: edit('customer', '/customers/edit/' + ${customer.id})}"></div>
                                        &nbsp;
                                        <div th:replace="~{fragments :: delete('customer', ${customer.id}, '/customers/delete/' + ${customer.id}, true)}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:replace="~{fragments :: pagination('customers')}"></div>

                        <div th:replace="~{modal_fragments :: delete_modal}"></div>

                        <div class="modal fade" id="detailModal">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div th:replace="~{footer :: footer}"></div>
    </div>
</div>

<script th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/feather-icons/feather.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleUrl = "[[@{/customers}]]";
    entityName = "customer";

    $(document).ready(function() {
        handleDefaultDetailLinkClick();
    });
</script>
</body>
</html>