<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p>Copyright &copy; My eCommerce 2023</p>
        </div>
        <div class="float-end">
            <p>
                Crafted with <span class='text-danger'>
                <i data-feather="heart"></i></span> by <a href="#">me</a>
            </p>
        </div>
    </div>
</footer>
</body>
</html>