<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title, removeTag)" th:remove="${removeTag}">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0" name="viewport">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/flag-icon-css/css/flag-icons.css}">

    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/vendors/simple-datatables/style.css}">
    <link rel="stylesheet" th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}">

    <link rel="shortcut icon" th:href="@{images}" type="image/x-icon">

    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/common.js}" type="text/javascript"></script>

    <title>[[${title}]]</title>
</head>
<body>
<div th:fragment="search_form_and_message">
    <form class="form-check-inline mb-3" th:action="@{${moduleUrl} + '/page/1'}">
        <input name="sortField" th:value="${sortField}" type="hidden"/>
        <input name="sortDir" th:value="${sortDir}" type="hidden"/>

        <label>
            <input class="form-control" name="keyword" required th:value="${keyword}" type="search"/>
        </label>
        &nbsp;&nbsp;
        <button class="btn btn-primary" type="submit">
            <i class="fa-solid fa-search"></i>
        </button>
        &nbsp;&nbsp;
        <button class="btn btn-secondary" onclick="clearFilter()" type="button">
            <i class="fa-solid fa-eraser"></i>
        </button>
    </form>

    <div class="alert alert-success text-center" th:if="${message != null}">[[${message}]]</div>
</div>

<th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
    <a class="table-dark text-decoration-none" th:href="@{${moduleUrl} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName}  +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">
        [[${columnLabel}]]
    </a>
    <span class="fa-solid" th:classappend="${sortDir == 'asc' ? 'fa-sort-up' : 'fa-sort-down'}"
          th:if="${sortField == fieldName}">
    </span>
</th>

<div th:fragment="user_photos" th:remove="tag">
    <span class="fa-solid fa-portrait fa-3x text-muted" th:if="${user.photos == null}"></span>
    <img alt="Photos preview" src="" style="width: 100px"
         th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"/>
</div>

<div th:fragment="status(enabled, entityName, entityUrl)" th:remove="tag">
    <a class="fa-solid fa-check-circle fa-2x text-green" style="text-decoration: none;" th:href="@{${entityUrl} + '/enabled/false'}"
       th:if="${enabled == true}"
       th:title="'Disable this ' + ${entityName}"
    ></a>

    <a class="fa-regular fa-circle fa-2x text-dark" style="text-decoration: none;" th:href="@{${entityUrl} + '/enabled/true'}"
       th:if="${enabled == false}"
       th:title="'Enable this ' + ${entityName}"
    ></a>
</div>

<div th:fragment="edit(entityName, editUrl)" th:remove="tag">
    <a class="fa-solid fa-edit fa-2x text-primary" style="text-decoration: none;" th:href="@{${editUrl}}"
       th:title="'Edit this ' + ${entityName}"></a>
</div>

<div th:fragment="delete(entityName, entityId, deleteUrl, unlock)" th:remove="tag">
    <th:block th:if="${unlock}">
        <a class="fa-solid fa-trash fa-2x link-delete text-danger" style="text-decoration: none;" th:entityId="${entityId}" th:href="@{${deleteUrl}}" th:title="'Delete this ' + ${entityName}"></a>
    </th:block>
</div>

<div th:fragment="create_new_and_export(entityName)">
    <a class="fa-solid fa-2x me-2 text-primary text-decoration-none" th:classappend="${entityName != 'users' ? 'fa-folder-plus' : 'fa-user-plus'}" th:href="@{'/' + ${entityName} + '/new'}"></a>

    <a th:href="@{'/' + ${entityName} + '/export/csv'}" class="fa-solid fa-file-csv fa-2x me-2 text-secondary" title="Export to CSV"></a>
    <a th:href="@{'/' + ${entityName} + '/export/excel'}" class="fa-solid fa-file-excel fa-2x me-2 text-success" title="Export to Excel"></a>
    <a th:href="@{'/' + ${entityName} + '/export/pdf'}" class="fa-solid fa-file-pdf fa-2x text-danger" title="Export to PDF"></a>
</div>

<a class="page-link"
   th:fragment="page_link(pageNumber, label)"
   th:href="@{${moduleUrl} + '/page/' + ${pageNumber} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">[[${label}]]
</a>


<div th:fragment="pagination(entityName)" th:remove="tag">
    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing [[${entityName}]] # [[${startPage}]] to [[${endPage}]] of [[${totalItems}]]</span>
    </div>

    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No [[${entityName}]] found</span>
    </div>

    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination justify-content-center flex-wrap">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(1, 'First')}"></a>
                </li>

                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(${currentPage - 1}, 'Previous')}"></a>
                </li>

                <th:block th:if="${totalPages <= 10}">
                    <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
                        th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <a th:replace="~{fragments :: page_link(${i}, ${i})}"></a>
                    </li>
                </th:block>

                <th:block th:if="${totalPages > 10}">
                    <th:block th:if="${currentPage <= 5 || currentPage > totalPages - 4}">
                        <li th:each="i : ${#numbers.sequence(1, 5)}" th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
                            <a th:replace="~{fragments :: page_link(${i}, ${i})}"></a>
                        </li>

                        <a class="page-item" th:replace="~{fragments :: page_link(${6}, ${'...'})}"></a>

                        <li th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}" th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
                            <a th:replace="~{fragments :: page_link(${i}, ${i})}"></a>
                        </li>
                    </th:block>

                    <th:block th:if="${currentPage > 5 && currentPage <= totalPages - 4}">
                        <a class="page-item active" th:replace="~{fragments :: page_link(${currentPage - 5}, ${'...'})}"></a>


                        <li th:each="i : ${#numbers.sequence(currentPage - 4, currentPage + 4)}" th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
                            <a th:replace="~{fragments :: page_link(${i}, ${i})}"></a>
                        </li>

                        <a class="page-item active" th:replace="~{fragments :: page_link(${currentPage + 5}, ${'...'})}"></a>
                    </th:block>
                </th:block>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(${currentPage + 1}, 'Next')}"></a>
                </li>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: page_link(${totalPages}, 'Last')}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div th:fragment="format_currency(amount)" th:remove="tag">
    <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
</div>

<div th:fragment="format_time(dateTime)" th:remove="tag">
    <span th:text="${#dates.format(dateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
</div>

<div th:fragment="currency_input(amount)" th:remove="tag">
    <input type="text" readonly class="form-control" th:value="${(CURRENCY_SYMBOL_POSITION == 'Before price' ? CURRENCY_SYMBOL : '') + #numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE) + (CURRENCY_SYMBOL_POSITION == 'After price' ? CURRENCY_SYMBOL : '')}">
</div>
</body>
</html>