<div class="modal fade text-center" id="modalDialog" tabindex="-1" th:fragment="warning_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Warning</h4>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>

            <div class="modal-body">
                <span id="modalBody"></span>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-center" id="confirmModal" th:fragment="delete_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirmation</h4>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>

            <div class="modal-body">
                <span id="confirmText"></span>
            </div>

            <div class="modal-footer">
                <a class="btn btn-success" href="" id="yesButton">Yes</a>
                <button class="btn btn-danger" data-bs-dismiss="modal" type="button">No</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>